:root{
    --c-12: #0E0E0E;
    --c-11: #1A1A1A;
    --c-10: #2E2E2E;
    --c-9: #404040;
    --c-8: #595959;
    --c-7: #717171;
    --c-6: #9C9C9C;
    --c-5: #B2B2B2;
    --c-4: #CCCCCC;
    --c-3: #DEDEDE;
    --c-2: #EDEDED;
    --c-1: #F7F7F7;

    --b: #23273B;
    --b-1: #191C2E;
    --b-2: #101321;
    --b-3: #090B14;
    --b-4: #030408;
    --b-5: #2D3652;
    --b-6: #222B45;
    --b-7: #192138;
    --b-8: #11182B;
    --b-9: #0B101F;
    --b-10: #050912;

    --p: #88B4F5;
    --p-1: #76A4E8;
    --p-2: #6595DB;
    --p-3: #5586CF;
    --p-4: #4678C2;
    --p-5: #386BB5;
    --p-6: #1D498A;
}

.c-12{
    color: var(--c-12); /* ---------- NÃO USEI ---------- */
}

.c-11{
    color: var(--c-11);
}

.c-10{
    color: var(--c-10); /* ---------- NÃO USEI ---------- */
}

.c-9{
    color: var(--c-9); /* ---------- NÃO USEI ---------- */
}

.c-8{
    color: var(--c-8); /* ---------- NÃO USEI ---------- */
}

.c-7{
    color: var(--c-7); /* ---------- NÃO USEI ---------- */
}

.c-6{
    color: var(--c-6); /* ---------- NÃO USEI ---------- */
}

.c-5{
    color: var(--c-5); /* ---------- NÃO USEI ---------- */
}

.c-4{
    color: var(--c-4); /* ---------- NÃO USEI ---------- */
}

.c-3{
    color: var(--c-3); /* ---------- NÃO USEI ---------- */
}

.c-2{
    color: var(--c-2); /* ---------- NÃO USEI ---------- */
}

.c-1{
    color: var(--c-1); /* ---------- NÃO USEI ---------- */
}

.b-10{
    color: var(--b-10); /* ---------- NÃO USEI ---------- */
}

.b-9{
    color: var(--b-9); /* ---------- NÃO USEI ---------- */
}

.b-8{
    color: var(--b-8); /* ---------- NÃO USEI ---------- */
}

.b-7{
    color: var(--b-7); /* ---------- NÃO USEI ---------- */
}

.b-6{
    color: var(--b-6); /* ---------- NÃO USEI ---------- */
}

.b-5{
    color: var(--b-5); /* ---------- NÃO USEI ---------- */
}

.b-4{
    color: var(--b-4); /* ---------- NÃO USEI ---------- */
}

.b-3{
    color: var(--b-3); /* ---------- NÃO USEI ---------- */
}

.b-2{
    color: var(--b-2); /* ---------- NÃO USEI ---------- */
}

.b-1{
    color: var(--b-1); /* ---------- NÃO USEI ---------- */
}

.b{
    color: var(--b); /* ---------- NÃO USEI ---------- */
}

.p-6{
    color: var(--p-6); /* ---------- NÃO USEI ---------- */
}

.p-5{
    color: var(--p-5); /* ---------- NÃO USEI ---------- */
}

.p-4{
    color: var(--p-4); /* ---------- NÃO USEI ---------- */
}

.p-3{
    color: var(--p-3); /* ---------- NÃO USEI ---------- */
}

.p-2{
    color: var(--p-2); /* ---------- NÃO USEI ---------- */
}

.p-1{
    color: var(--p-1); /* ---------- NÃO USEI ---------- */
}

.p{
    color: var(--p); /* ---------- NÃO USEI ---------- */
}