*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', Arial, sans-serif;
    background-color: var(--c-1);
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

img[src$=".jpg"]{
    border-radius: 32px;
}

a{
    text-decoration: none;
    color: inherit;
    font: inherit;
}

ul{
    list-style: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}