.header{
    padding: 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.nav-menu{
    display: flex;
    align-items: center;
    gap: 48px;
}

.btn-mobile{
    display: none;
    z-index: 3;
}

.menu-link{
    display: inline-block;
    padding: 10px 0;
    position: relative;
    transition: 0.3s;
}

.menu-link::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--b);
    transition: 0.3s;
}

.menu-link:hover::after{
    width: 100%;
}

.conta{
    display: flex;
    gap: 24px;
}

@media(max-width: 1200px){
    .header{
        padding: 24px 80px;
    }
}

@media(max-width: 992px){
    .header{
        padding: 20px 60px;
    }

    .header-nav, .nav-menu{
        gap: 32px;
    }

    .conta{
        gap: 16px;
    }
}

@media(max-width: 870px){
    .btn-mobile{
        display: flex;
        border: none;
        background: var(--b);
        padding: 10px 8px;
        border-radius: 8px;
    }

    .btn-mobile .icone-menu{
        width: 24px;
        border-top: 2px solid var(--c-1);
        color: var(--c-1);
    }

    .btn-mobile .icone-menu::after,
    .btn-mobile .icone-menu::before{
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: 0.6s;
        position: relative;
    }

    .btn-mobile.ativo{
        position: fixed;
        right: 60px;
    }

    .btn-mobile.ativo .icone-menu{
        border-top-color: transparent;
    }

    .btn-mobile.ativo .icone-menu::before{
        transform: rotate(135deg);
    }

    .btn-mobile.ativo .icone-menu::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .header-nav, .nav-menu{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .header-nav{
        position: fixed;
        padding-top: 8rem;
        align-items: center;
        width: 100%;
        z-index: 2;
        top: 0;
        left: -100%;
        height: 100vh;
        background-color: var(--b);
        transition: 0.5s;
    }

    .header-nav.ativo{
        left: 0;
    }

    .menu-link{
        font-size: 36px;
        font-weight: 600;
        color: var(--c-1);
    }

    .menu-link::after{
        height: 4px;
        background-color: var(--c-1);
    }

    .conta{
        flex-direction: column-reverse;
        border-top: 2px solid rgba(247, 247, 247, 0.2);
        padding: 32px 0;
        align-items: center;
    }

    .conta #login{
        border: 1px solid var(--c-1);
        color: var(--c-1);
    }
}

@media(max-width: 768px){
    .header{
        padding: 20px 40px;
    }

    .btn-mobile.ativo{
        right: 40px;
    }
}

@media(max-width: 576px){
    .header{
        padding: 16px;
    }

    .header-logo{
        width: 130px;
    }

    .btn-mobile.ativo{
        right: 16px;
    }
}