.introducao{
    padding: 60px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
}

.introducao-conteudo{
    display: grid;
    justify-items: start;
}

.introducao-titulo{
    margin-bottom: 32px;
    max-width: 13ch;
}

.introducao-descricao{
    margin-bottom: 20px;
    max-width: 36ch;
}

.introducao-img,
.introducao-img img{
    height: 100%;
}

@media(max-width: 1200px){
    .introducao{
        padding: 60px 80px;
    }
}

@media(max-width: 992px){
    .introducao{
        padding: 50px 60px;
        gap: 32px;
    }

    .introducao-titulo{
        font-size: 46px;
        margin-bottom: 24px;
    }

    .introducao-descricao{
        font-size: 18px;
        margin-bottom: 16px;
    }
}

@media(max-width: 768px){
    .introducao{
        padding: 40px;
        grid-template-columns: 1fr;
    }

    .introducao-conteudo{
        justify-items: center;
    }

    .introducao-titulo,
    .introducao-descricao{
        text-align: center;
    }

    .introducao-img img{
        width: 100%;
    }
}

@media(max-width: 576px){
    .introducao{
        padding: 32px 16px;
        gap: 24px;
    }

    .introducao-titulo{
        max-width: 100%;
        font-size: 34px;
    }

    .introducao-descricao{
        max-width: 100%;
        font-size: 16px;
    }
}

